APP_NAME=Egentop
APP_PORT=8080
APP_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=egentop
DB_USER=user
DB_PASSWORD=password

DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

LOG_LEVEL=debug

JWT_SECRET=a-secret-key

REDIS_HOST=localhost
REDIS_PORT=6379
